/*重写select2样式，统一风格*/
.select2-container--default .select2-selection--single{border-color: #ccc;}
.select2-container .select2-selection--single{height: 34px;}
.select2-container--default .select2-selection--single .select2-selection__rendered {line-height: 34px}
.select2-container--default .select2-selection--single .select2-selection__arrow {height: 32px;}

.profile-classic li {
    padding: 8px 0;
    font-size: 13px;
    border-top: solid 1px #f5f5f5;
    list-style: none;
}
  .profile-classic li:first-child {
    border-top: none;
}
.profile-classic li span {
    color: #666;
    font-size: 13px;
    margin-right: 7px;
}
.edit_btn {
    top: 0;
    right: 0;
    margin: 0;
    color: #fff;
    opacity: 0.6;
    padding: 2px 9px;
    font-size: 11px;
    background: #000;
    position: absolute;
}